body {
    background-color:rgb(181, 216, 158)
}


h1.headerh1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    width: 50%;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: red;
}







