{% extends 'base.html' %}

{% block content %}

{% if category_posts %}


    <h1 class="headerh1">{{ cats }}</h1>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in category_posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'article-detail' post.pk %}">{{post.title }}</a></h2>
                        <p class="card-text text-muted h6">{{ post.author.first_name }} {{post.author.last_name }} | {{ post.post_date }}
                            <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></p>
                        <p class="card-text">{{ post.body|safe|slice:":200" }}</p>
                        <a href="{% url 'article-detail' post.pk %}" class="btn btn-info">Read More</a>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}
    You got no access here!
{% endif %}



{% endblock %}